html, body, #root {
  height: 100%;
}

body {
  margin: 0;
  font-family: "Pretendard", sans-serif;
  background-color: #fcfcfc;
  color: #333;
}

.app {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

main {
  flex: 1;
}